h1 	Maphy Maintenance Notification	
p Dear Partner,

h3 Maphy Team notifies you about planned maintenance in the Maintenance Tool:

//- h3 Maintenance timeline (GMT +08):
//- p #{startDate}-#{endDate}
//- p 23 January 2021 02:30 AM - 23 January 2021 06:30 AM
//- h3 Maintenance timeline (GMT +00):
//- p #{startDate}-#{endDate}
//- p 31 January 2021 06:30 PM - 22 January 2021 10:30 PM
p Maintenance total duration: 4h 0m
p Maintenance details: Maphy Team will update Maphy Asset Management to the latest version.
//- p Affected by maintenance: Backup Console, New Features Update, Web Restore, Management Console, Backup and/or Restore operations
p As discussed,We have proposed to update all the latest changes on the server scheduled by every Weekend(Friday or Saturday).
p Services impact: Maphy Asset Management may become unavailable for up to 4 hours during the activity.
//- h1 #{otp}